<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Карта бордюров Гомеля</title>
    <meta name="description" content="Высокие бордюры делают невозможным передвижение инвалидов-колясочников, затрудняют передвижение маломобильных граждан, препятствуют использованию велосипедов. Для определения проблемных мест и оценки времени необходимого для их устранения и была создана карта бордюров."/>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
    <link rel="stylesheet" href="stylesheets/blueimp-gallery/blueimp-gallery.css">

    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=c09a03a4-45fb-4e99-b484-d6a9ef787bc8&lang=ru_RU"
            type="text/javascript"></script>
    <script src="javascripts/json-forms.js"></script>
    <script src="javascripts/dropzone.js"></script>
    <script src="javascripts/service.js"></script>
    <script src="javascripts/service/util.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138301314-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-138301314-1');
    </script>

    <script>
        // Variables
        var endpoint = 'http://35.204.172.229:3002'; // http://35.204.172.229:3002 http://localhost:3000
    </script>
</head>

<body class="container gosapi">
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#"><span>Карта</span>.<span>Гос</span><span style="color: #dc3545;">API</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

            <li class="nav-item active">
                <a class="nav-link" href="#">Карта<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="add_item.html">Добавить объект</a>
            </li>
        </ul>
    </div>
</nav>


<div id="map" style="position: absolute;top: 56px; left: 0; right: 0; bottom: 0;"/>

<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

<a role="button" class="btn btn-primary btn-circle btn-lg" id="addItemBtn" href="add_item.html"><i
        class="fa fa-plus"></i></a>

<script type="text/javascript">

    var color = {
        RED: '#ED4543',
        YELLOW: '#FFD21E',
        GREEN: '#56DB40',
        BLUE: '#1E98FF',
        GRAY: '#A9A9A9',
    }, objectManager, gosApiMap, dataItems;

    //_id = 1000;

    function getColor(item) {
        if (item.lock) {
            return color.GRAY;
        } else if (!item.height && item.height !== 0) {
            return color.BLUE;
        } else if (item.height <= 3) {
            return color.GREEN;
        } else if (item.height <= 6) {
            return color.YELLOW;
        }
        return color.RED;
    }

    function buildMarker(point, item) {
        switch (item.item_type) {
            case 'border':
                return buildBorderMarker(point, item);
            case 'tree':
                return buildTreeMarker(point, item);
        }
    }

    function buildBorderMarker(point, item) {
        var layout = ymaps.templateLayoutFactory.createClass(
            '<div class="item map-item">' +
            '<h3>Бордюр{% if !properties.lock %} <a href="edit_border.html?id={{properties.id}}" target="_blank"><i class="fas fa-edit edit-btn"></i></a>{% endif %}</h3>' +
            '<p class="p1">Высота {{properties.height}}см</p>' +
            '{% if properties.problemID %}' +
            '<p>Заявка: <a href="http://115.бел/{{properties.problemHref}}" target="_blank">{{properties.problemID}}</a></p>' +
            '{% endif %}' +
            '{% if properties.problemStatus %}' +
            '<p>Статус: {{properties.problemStatus}}</p>' +
            '{% endif %}' +
            '{% if properties.problemAnswer %}' +
            '<p>Ответ: {{properties.problemAnswer}}</p>' +
            '{% endif %}' +
            '<img src="{{properties.coverImg}}">' +
            '{% if properties.photos.length %}' +
            '<div class="item-more-photo">{{properties.openPhotoLabel}}</div>' +
            '{% endif %}' +
            '</div>', {
                build: function () {
                    layout.superclass.build.call(this);

                    $('.item-more-photo').click(function () {
                        blueimp.Gallery(item.photos.map(function (photo) {
                            return photo.url;
                        }));
                    });
                }
            });

        return {
            type: 'Feature',
            id: item.id,
            geometry: {
                type: 'Point',
                coordinates: point
            },
            properties: {
                id: item.id,
                height: item.height,
                coverImg: getCoverImg(item.photos),
                openPhotoLabel: getOpenPhotoLabel(item.photos),
                photos: item.photos,
                problemID: item.problem_id,
                problemHref: item.problem_href,
                problemStatus: getStatus(item.problem_status),
                problemAnswer: item.problem_answer,
                type: item.item_type,
                lock: item.lock
            },
            options: {
                preset: 'islands#circleIcon',
                iconColor: getColor(item),
                balloonContentLayout: layout,
                hideIconOnBalloonOpen: false
            }
        };
    }

    function buildTreeMarker(point, item) {
        var layout = ymaps.templateLayoutFactory.createClass(
            '<div class="item map-item">' +
            '<h3>Саженцы</h3>' +
            '<p class="p1">Количество {{properties.count}} шт</p>' +
            '<p>Дата посадки {{properties.plantDate}}</p>' +
            '<img src="{{properties.coverImg}}">' +
            '<div class="item-more-photo">{{properties.openPhotoLabel}}</div>' +
            '</div>', {
                build: function () {
                    layout.superclass.build.call(this);

                    $('.item-more-photo').click(function () {
                        blueimp.Gallery(item.photos.map(function (photo) {
                            return photo.url;
                        }));
                    });
                }
            });

        return {
            type: 'Feature',
            id: item.id,
            geometry: {
                type: 'Point',
                coordinates: point
            },
            properties: {
                coverImg: getCoverImg(item.photos),
                openPhotoLabel: getOpenPhotoLabel(item.photos),
                photos: item.photos,
                type: item.item_type,
                count: item.count,
                plantDate: item.plant_date,
                iconContent: item.count,
            },
            options: {
                iconColor: getColor(item),
                balloonContentLayout: layout,
                hideIconOnBalloonOpen: false,
            }
        };
    }

    function getStatus(status) {
        switch (status) {
            case '7':
                return 'НА КОНТРОЛЕ';
            case '5':
                return 'РЕШЕНО';
            case '4':
                return 'В РАБОТЕ';
            default:
                return null;
        }
    }

    function getOpenPhotoLabel(photos) {
        if (!photos.length) {
            return '';
        }
        return photos.length > 1 ? 'Ещё #{photoCount} фото'.replace('#{photoCount}', photos.length) : 'Открыть фото';
    }

    function getCoverImg(photos) {
        if (!photos.length) {
            return 'images/no_photo.png';
        }
        return photos[0].url;
    }

    function getFilterFunction(type) {
        return function (obj) {
            return type === obj.properties.type;
        }
    }

    function initMap() {
        objectManager = new ymaps.ObjectManager();
        dataItems = [new ymaps.control.ListBoxItem({data: {content: 'Бордюры', type: 'border'}}),
            new ymaps.control.ListBoxItem({data: {content: 'Саженцы', type: 'tree'}})],
            separatorCfg = {
                options: {type: 'separator'}
            };
        var dataControl = new ymaps.control.ListBox({
            data: {
                content: 'Отображаемые данные'
            },
            items: [
                dataItems[0],
                new ymaps.control.ListBoxItem(separatorCfg),
                dataItems[1],
            ]
        });

        gosApiMap = new ymaps.Map("map", {
            center: [52.435470, 31.007678],
            zoom: 14, // от 0 (весь мир) до 19.
            controls: ['zoomControl', 'fullscreenControl'] //'typeSelector',
        });

        gosApiMap.controls.add(dataControl, {
            floatIndex: 0
        });

        gosApiMap.geoObjects.add(objectManager);

        dataItems.forEach(function (dataItem) {
            dataItem.events.add(['select'], function () {
                dataItems.forEach(function (item) {
                    if (dataItem != item) {
                        item.deselect();
                    }
                });

                objectManager.setFilter(getFilterFunction(dataItem.data.get('type')));
            });

            dataItem.events.add(['deselect'], function () {
                if (!dataItems.some(function (item) {
                    return item.isSelected();
                })) {
                    dataItem.select();
                }
            });
        });

        updateMapData();

        setInterval(function () {
            if (window.localStorage.getItem('update') === 'true') {
                updateMapData();
            }
        }, 5000);
    }

    function updateMapData() {
        window.localStorage.setItem('update', 'false');
        $.ajax({
            method: 'GET',
            url: endpoint + '/api/v1/items/',
            dataType: 'json',
            cache: false,
            success: function (data) {
                objectManager.removeAll();
                setTimeout(function () {
                    data.forEach(function (item) {
                        service.util.parseCoordinates(item).forEach(function (point) {
                            objectManager.add(buildMarker(point, item));
                        });
                    });
                    // select data on map
                    dataItems[0].select();
                }, 0);
            },
            error: function () {
                alert("Ошибка сервера");
            }
        });
    }

    ymaps.ready(initMap);
</script>
<script src="javascripts/blueimp-gallery/blueimp-gallery.min.js"></script>
</body>
</html>